a {
	text-decoration-line: none;
	width: fit-content;
}

a:link, a:visited {
	color: white;
}

#social a:link, #social a:visited {
	color: black;
}

html {
	background: white;
}

body {
	position: absolute;
	background-color: white;
	color: black;
	height: fit-content;
	margin: 0;
	overflow: hidden;
	cursor: none;
}

#cursor {
	z-index: 2;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	position: absolute;
	transition: all .1s linear;
	pointer-events: none;
	backface-visibility: hidden;
	background: white;
	mix-blend-mode: difference;
	
	
}

header {
	width: 100vw;
	height: 10vh;
	margin: 0 2em;
}

main {
	display: flex;
	flex-wrap: nowrap;
}

.logo {
	height: 30px;
	width: auto;
	position: absolute;
	top: 32px; left: 64px;
	height: 40px;
}

#index {
	display: flex;
	flex-direction: column;
	margin: 0;
	margin-left: calc(4em + 6vw);
	width: 40em;
	height: min-content;
}

#title {
	font-size: 128px;
	font-family: 'Rubik Mono One', sans-serif;
	font-weight: normal;
	stroke-width: 0;
	line-height: 86.5%;
    letter-spacing: -.06em;
    margin: 0;
	width: min-content;
}

#subtitle {
	font-size: 24px;
	font-family: 'Walter Turncoat', cursive;
	line-height: 86.5%;
	margin-top: .5em;
	width: 45vw;
	display: inline;
}

#contact {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	/* width: fit-content; */
}

#social {
	display: flex;
	font-size: 36px;
	margin-left: 1em;
}

.social-icon {
	margin: .5em;
	transition: all .1s ease-in;
}

.social-icon:hover {
	transform-origin: center;
	transform: scale(1.2);
}

.social-icon:first-child {
	margin-left: 0;
}

button {
	background-color: black;
	font-family: 'Walter Turncoat', cursive;
	font-size: 24px;
	color: var(--text-color);
	width: fit-content;
	height: fit-content;
	border-width: 0;
	border-radius: 9999px;
	padding: .8em 2em;
}

#illustration {
    display: inline;
    width: 1096px;
    height: 1096px;
    transform:  translate(calc(-112px + 7vw), -64px);
}

@media only screen and (max-width: 834px ) {
    #index {
		margin: 0 4em;
		width: 80vw;
	}
	
	#title {
	}

    #illustration {
		/* transform:  translate(calc(-672px + 7vw), calc(320px + 3vh)); */
		transform:  translate(calc(-112px -  7vw), -64px);
    }
}

@media only screen and (max-width: 768px) {
	#index {
		margin-top: 1em;
	}
    #title {
		font-size: calc(16px + 10vw);
		/* font-size: calc(72px + 56 * ((100vw - 300px) / 400)); */
	}
    #subtitle, button {
		font-size: calc(12px + 1vw);
    }
}

@media only screen and (max-width: 600px) {
	#illustration {
		width: 720px;
		height: 720px;
		transform:  translate(calc(-900px + 7vw), calc(300px + 3vh - 3vw));
	}

	#contact {
		align-items: flex-start;
		justify-content: space-between;
	}

	#social {
		flex-direction: column;
		align-self: baseline;
	}

	.social-icon:first-child {
		margin-top: 0;
		margin-left: .5em;
	}
}

@media only screen and (max-width: 440px) {

}