a {
	text-decoration-line: none;
	width: fit-content;
}

a:link, a:visited {
	color: white;
}

#social a:link, #social a:visited {
	color: black;
}

body {
	position: absolute;
	background-color: var(--bg-primary);
	color: var(--text-color);
	height: fit-content;
	margin: 0;
	overflow: hidden;
}

main {
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
}

.logo {
	height: 30px;
	width: auto;
	position: absolute;
	top: 32px; left: 64px;
	height: 40px;
}

#index {
	display: flex;
	flex-direction: column;
	margin: 0;
	margin-left: 12%;
	width: 40em;
}

#title {
	font-size: 128px;
	font-family: 'Rubik Mono One', sans-serif;
	font-weight: normal;
	stroke-width: 0;
	line-height: 86.5%;
	letter-spacing: -.06em;
	margin: .75em 0 0;
}

#subtitle {
	font-size: 24px;
	font-family: 'Walter Turncoat', cursive;
	line-height: 86.5%;
	margin-top: .5em;
}

#contact {
	display: flex;
	flex-wrap: nowrap;

}

#social {
	font-size: 36px;
	margin: 0 1em;
}

.social-icon {
	margin: .5em;
}

.social-icon:first-child {
	margin-left: 0;
}

button {
	background-color: black;
	font-family: 'Walter Turncoat', cursive;
	font-size: 24px;
	color: var(--text-color);
	width: fit-content;
	height: fit-content;
	border-width: 0;
	border-radius: 9999px;
	padding: .8em 2em;
}

#drawing {
	width: 1048px;
	height: 1048px;
	top: 4vh;
}

#illustration {
	transform:  translate(5vw, 0vh);
	overflow: hidden;
}

@media only screen and (max-width: 834px ) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 440px) {

}