:root {
	font-family: 'Poppins', sans-serif;
	--text-color: white;
	--bg-primary: #3a4b53;
	--bg-secondary:	#536878;
	
	--art-color: #DD2C4A;
	--code-color: #2E86AB;
	--coop-color: #48AD84;
	--design-color: #DEC102;
	--music-color: #FFC233;
	--write-color: #8594D6;
}

a {
	text-decoration-line: none;
}

body {
	background-color: var(--bg-primary);
	color: var(--text-color);
	height: fit-content;
	margin: 0;
}

header {
	grid-area: header;
	height: fit-content;
	display: flex;
	justify-content: space-between;
	padding: 0 2vw;
	margin-top: 8px;
}

nav {
	display: flex;
	font-size: 15px;
	margin: 0;
	font-weight: bolder;
	z-index: 1;
	align-items: center;
}

#home {
	display: flex;
	width: fit-content; 
	z-index: 3;
	color: var(--text-color);
	font-size: 17px;
	font-weight: bolder;
	padding: .5rem;
	align-items: center;
}

#title {
	margin: 0;
}

.logo {
	height: 30px;
	width: auto;
	margin: 0;
	margin-right: 1em;
}

nav ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	padding: 1rem .5rem;
	margin: 0;
}

#menu {
	display: none;
}

nav a {
	display: block;
	color: var(--text-color);
	-webkit-text-fill-color: var(--text-color);
}

nav a:hover, #title:hover {
	transform: scale(1.05);
	text-shadow: 0 0 5px rgb(0 0 0 / 28%);
}

nav a:hover:after, #title:hover:after {
	content: "";
    position: absolute;
    top: 21px;
    background: white;
    width:6px;
    height: 6px;
    border-radius: 100%;
    left:calc(50%);
}

hr {
	width: 95%;
	height: 1px;
	border: none;
	background-color: white;
}

main {
	font-weight: bolder;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

button {
	background-color: #607d8b;
	font-family: inherit;
	font-weight: bold;
	font-size: 1rem;
	color: var(--text-color);
	width: fit-content;
	height: fit-content;
	border-width: 0;
	border-radius: 9999px;
	padding: 1em 1.2em;
	float: right;
	margin: 1em 0;
	box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 28%);
}

button:hover {
	transform: scale(1.05);
	box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 35%);
}

section {
	display: flex;
	justify-content: center;
	margin: 1em 0;
}

#hi {
	font-size: 25vh;
	width: min-content;
	margin: 0;
	padding: 0 1rem;
	text-shadow: 0 0 10px rgb(0 0 0 / 28%);
	transition: position .5s;
}

#me, #about-me {
	object-fit: contain;
	max-width: 100%;
	max-height: 75vh;
	width: auto;
	height: auto;
	align-self: center;
	padding: 0 1em;
	left: inherit;
}

#about {
	font-size: 2em;
	display: flex;
	justify-content: center;
}

#about div {
	width: 50%;
}

.about-links {
	position: relative;
}

.about-links:hover {
	display: inline-block;
	transform: scale(1.05);
	text-shadow: 0px 0px 40px rgb(0 0 0 / 35%);
}

#work {
	
}

#contact {
	font-size: 2em;
}

#contact_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: .5em;
}

form {
	width: 420px;
}

#contact_intro {
	margin: 1em auto;
	font-size: 2em;
}

#contact_name {
	display: flex;
}

#contact_name fieldset {
	min-width: 0;
	flex-shrink: 1;
}

fieldset {
	border-radius: 4px;
	border-width: 3px;
	border-style: solid;
	flex: 1 0 auto;
}

input, textarea {
	background-color: transparent;
	border: 0;
	color: gray;
	caret-color: gray;
}

input:focus {
	outline: none;
}

textarea {
	resize: none;
	width: 100%;
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	border-top: 0px solid white;
	background-color: var(--bg-secondary);
}

#footer_content {
	display: flex;
	align-items: center;
	justify-content: flex-start;
    padding: 0 2vw;
}

.arrow {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 4px;
}
  
.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

@media only screen and (max-width: 834px ) {
	#index {
		display: initial;
	}

	#hi {
		font-size: 22vh;
	}

	#me {
		position: absolute;
		display: block;
		left: 50%;
		top: 50%;
		transform: translate(-55%, -40%);
		z-index: -1;
	}

	#about div {
		width: 80%;
	}
}

@media only screen and (max-width: 768px) {
	#hi {
		font-size: 22vmin;
	}
}

@media only screen and (max-width: 440px) {
	nav ul {
		display: none;
	}
	#menu {
		display: block;
	}
}