a {
	text-decoration-line: none;
	width: fit-content;
}

a:link, a:visited {
	color: white;
}

#social a:link, #social a:visited {
	color: black;
}

body {
	position: absolute;
	background-color: var(--bg-primary);
	color: var(--text-color);
	height: fit-content;
	margin: 0;
	overflow: hidden;
}

main {
	display: flex;
	flex-wrap: nowrap;
}

.logo {
	height: 30px;
	width: auto;
	position: absolute;
	top: 32px; left: 64px;
	height: 40px;
}

#index {
	display: flex;
	flex-direction: column;
	margin: 0;
	margin-left: calc(4em + 6vw);
	width: 40em;
	height: min-content;
}

#title {
	font-size: 128px;
	font-family: 'Rubik Mono One', sans-serif;
	font-weight: normal;
	stroke-width: 0;
	line-height: 86.5%;
    letter-spacing: -.06em;
    margin: 0;
	margin-top: .75em;
	width: min-content;
}

#subtitle {
	font-size: 24px;
	font-family: 'Walter Turncoat', cursive;
	line-height: 86.5%;
	margin-top: .5em;
	width: 75vw;
	display: inline;
}

#contact {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	width: fit-content;
}

#social {
	font-size: 36px;
	margin-left: 1em;
}

.social-icon {
	margin: .5em;
}

.social-icon:first-child {
	margin-left: 0;
}

button {
	background-color: black;
	font-family: 'Walter Turncoat', cursive;
	font-size: 24px;
	color: var(--text-color);
	width: fit-content;
	height: fit-content;
	border-width: 0;
	border-radius: 9999px;
	padding: .8em 2em;
}

#illustration {
    display: inline;
    width: 1096px;
    height: 1096px;
    z-index: -1;
    transform:  translate(calc(-112px + 7vw), -64px);
}

@media only screen and (max-width: 834px ) {
    #index {
		margin: 0 calc(10vw);
		width: 80vw;
	}
	
	#title {
	}

    #illustration {
        transform:  translate(calc(-672px + 7vw), calc(480px + 3vh));
    }
}

@media only screen and (max-width: 768px) {
    #title {
		font-size: calc(72px + 7vw);
		margin-top: calc(1em + 1vh);
		/* font-size: calc(72px + 56 * ((100vw - 300px) / 400)); */
    }
    #subtitle, button {
		font-size: calc(12px + 1vw);
    }
}

@media only screen and (max-width: 600px) {
	#illustration {
		width: 720px;
		height: 720px;
	}
}

@media only screen and (max-width: 440px) {

}